<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a href="https://github.com/zach-antinelli">Github</a></li>
            <li><a href="https://www.linkedin.com/in/zach-antinelli-574a1461/">Linkedin</a></li>
            <li><a href="/resume.pdf">Resume</a></li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
    </div>
  </div>

</footer>
